html {
  scroll-behavior: smooth;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  height: 30px;
  border-style: solid;
  border-width: 5.5px;
  border-image: url("./icon/button.png") 30 stretch;
  margin: 40px 10px 20px 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.result {
  margin: 30px 0px;
  width: 700px;
  height: 50px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.answer {
  margin: 30px 0px;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.window {
  overflow: auto;
}

.table {
  border: 1px solid black;
  margin: 10px;
}

td,
tr,
th {
  padding: 10px;
}
td {
  border: 1px solid black;
}
